<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Hangman Game</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="styles.css">
    </head>
    <body>
      <section>
        <h1>Hangman Game</h1>
        <%= yield %>
      </section>
    </body>
  </html>