<p>Do you want to play again?</p>

<div>
    <form action='/' method='POST' style='display:inline-block;'>
      <input type='submit' value='Yes'>
    </form>

    <form action='/' method='GET' display='inline' style='display:inline-block;'>
      <input type='submit' value='No'>
    </form>
</div>